#welcome {
  height: 100vh;
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#welcome-img {
  width: 100%;
  height: auto;
}

#join-us {
  display: flex;
  width: 40%;
  height: 65%;
  margin: auto;
  align-items: center;
}

#join-us h1 {
  padding: 0.75rem;
  border: 1px solid #1DA1F2;
  border-radius: 9999px;
  cursor: pointer;
}

#join-us h1:hover a {
  color: #1da1f2;
}

@media screen and (max-width: 1000px) {
  #join-us {
    width: 90%;
  }
}