:root {
  --header-color: #151c21;
  --background-color: #15202b;
  --main-color: #f45d22;
  --main-hover-color: rgba(244, 93, 34, 0.1);
  --text-color: #ececec;
  --light-text-color: #ececec80;
  --border-color: #e5e5e54d;
  --input-color: #000000;
  --input-shadow-color:  #698cb380;
  --twitter-color: #1da1f2;
}