#profile-info {
  width: 100%;
  margin: auto;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-top: none;
}

#profile-info p {
  padding-top: 0.5rem;
}

#profile-pic img  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


#tweet-profile-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#profile-header {
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
 #profile-info {
   width: 100%;
 }
}