* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text-color); 
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* utilities */

#page-container {
  min-height: 100vh;
  margin-top: 7.5rem;
}

.container {
  width: 80%;
  margin: auto;
}

.flexed {
  display: flex;
}

.nav-bar {
  align-items: center;
}

.nav-btn {
  padding: 1rem;
  font-weight: bold;
}

.nav-btn:hover {
  background-color: var(--main-hover-color);
  border-radius: 5px;
  color: var(--main-color);
}

.nav-btn:hover a {
  color: var(--main-color);
}

.prim-btn {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--main-color);
}

.clicked:active, button:active {
  transform: translateY(4px);
}

.cursor:hover {
  cursor: pointer;
}


/* header */

#main-header {
  height: fit-content;
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 1;
}

#main-header .container {
  height: 7vh;
  justify-content: space-between;
  align-items: center;
}

#main-header .container h1 {
  color: var(--main-color);
  font-weight: bolder;
}

/* forms */

.form-container {
  max-width: 50%;
  margin: auto;
  padding: 1rem;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item {
  margin: 1rem 0;
  text-align: center;
}

.form-container .form-item:not(:last-child) input, textarea {
  padding: 0.5rem;
  color: var(--input-color);
  border-radius: 5px;
  resize: none;
  outline: none;
  border: none;
}

.form-container .form-item:not(:last-child) input:focus, textarea:focus {
  /* outline: 1px solid blue; */
  box-shadow: 0 0 5pt 4pt var(--input-shadow-color);
}

.form-item label {
  display: block;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .form-container {
    max-width: 100%;
  }
}
