:root {
  --header-color: #222831;
  --background-color: #30475e;
  --main-color: #f2a365;
  --main-hover-color: #f2a36533;
  --primary-text-color: #ececec;
  --border-color: #e5e5e54d;
  --input-color: #000000;
}
