* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text-color); 
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* utilities */

#page-container {
  min-height: 100vh;
  margin-top: 7.5rem;
}

.container {
  max-width: 60%;
  margin: auto;
}

.flexed {
  display: flex;
}

.nav-bar {
  align-items: center;
}

.nav-btn {
  padding: 1rem;
  font-weight: bold;
}

.nav-btn:hover {
  background-color: var(--main-hover-color);
  border-radius: 5px;
  color: var(--main-color);
}

.prim-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--main-color);
  border-width: 0;
}

/* header */

#main-header {
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 1;
}

#main-header .container {
  height: 7vh;
  justify-content: space-between;
  align-items: center;
}

#main-header .container a h1 {
  color: var(--main-color);
  font-weight: bolder;
}

@media screen and (max-width: 1100px) {
  /* #home-container {
    margin-top: 0;
  }

  #page-container {
    margin-top: 2.5rem;
  } */

  .container {
    max-width: 100%;
  }

  /* #main-header {
    position: relative;
    height: fit-content;
  }

  #main-header .flexed {
    flex-direction: column;
  }

  #main-header .flexed ul {
    width: 100%;
  }

  #main-header .flexed li {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }

  .nav-btn {
    padding: 0.5rem 5rem;  
  
  } */
}