.form-container {
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item {
  margin: 1rem 0;
  text-align: center;
}

.form-item label {
  display: block;
  padding-bottom: 0.5rem;
}

#id_content {
  padding: 0.5rem;
  resize: none;
  border-radius: 5px;
  color: var(--input-color);
}


/* .form-item:last-child input {
  width: 100%;
  margin: auto;
  background-color: var(--main-color);
  padding: 1rem;
  border: none;
  border-radius: 10px;
  color: var(--primary-text-color);
  font-weight: bolder;
} */

/* image upload button */

/* .fileUpload {
	position: relative;
	overflow: hidden;
  margin: 10px;
  overflow: hidden;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 1rem;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
} */