.tweet-container {
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
  
.tweet-container-item {
  margin: 0.5rem 0;
  margin-right: 1rem;
}

.form-container {
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item {
  margin: 1rem 0;
  text-align: center;
}

.form-container .form-item:not(:last-child) input {
  padding: 0.5rem;
  color: #000000;
  border-radius: 5px;
}

.form-item label {
  display: block;
  padding-bottom: 0.5rem;
}

#id_content {
  padding: 0.5rem;
  resize: none;
  border-radius: 5px;
  color: var(--input-color);
}

  