#tweets-container {
  max-width: 100%;
 
}

.tweet-container {
  max-width: 50%;
  margin: auto;
  padding: 1rem 0.5rem;
  border: 1px solid var(--border-color);
}

.tweet-container:first-child {
  border-top: 1.5rem solid var(--border-color);
}
  
.tweet-container-item {
  margin: 0.5rem 0;
  margin-right: 1rem;
}

.form-container {
  max-width: 50%;
  margin: auto;
  padding: 1rem;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item {
  margin: 1rem 0;
  text-align: center;
}

.form-container .form-item:not(:last-child) input, textarea {
  padding: 0.5rem;
  color: var(--input-color);
  border-radius: 5px;
  resize: none;
  outline: none;
}

.form-container .form-item:not(:last-child) input:focus, textarea:focus {
  /* outline: 1px solid blue; */
  box-shadow: 0 0 5pt 4pt var(--input-shadow-color);
}

.form-item label {
  display: block;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.message {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .tweet-container, .form-container {
    max-width: 100%;
  }
}


  